.madimi-one-regular {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

h1{
    font-size: 50px;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: antiquewhite;
    margin-top: 0; /* Réinitialiser la marge supérieure */
    background-image: url('images/youtube-banner-8077450_1280.jpg'); /* Chemin vers votre image de fond */
    background-size: cover; /* Adapter la taille de l'image pour couvrir tout l'élément */
    padding: 20px; /* Ajouter un peu d'espacement pour le texte */
}

body{
    background-color: #ffc784;
}

/* Styles pour le conteneur de produits */
#productList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
/* Styles pour chaque produit */
.product {
    width: 300px; /* Largeur du produit */
    margin: 20px; /* Marge autour du produit */
    padding: 20px; /* Espacement interne du produit */
    border: 1px solid #ccc; /* Bordure du produit */
    border-radius: 10px; /* Coins arrondis */
    text-align: center; /* Centrer le contenu */
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
}
/* Styles pour l'image du produit */
.product img {
    width: 300px; /* Largeur fixe pour toutes les images */
    height: 200px; /* Hauteur fixe pour toutes les images */
    object-fit: cover; /* Ajuster l'image pour remplir son conteneur */
    border-radius: 5px; /* Coins arrondis pour l'image */
    margin-bottom: 10px; /* Marge en bas de l'image */
}


/* Styles pour le texte du produit */
.product div {
    margin-bottom: 10px; /* Marge en bas des éléments de texte */
    font-family: 'Verdana', sans-serif; /* Police de caractères */
    max-width: 100%; /* Limiter la largeur au maximum de la largeur du parent */
    overflow: hidden; /* Cacher le contenu qui dépasse */
    text-overflow: ellipsis; /* Ajouter des points de suspension pour indiquer que du contenu est coupé */
}

/* Styles pour les étiquettes et les valeurs du produit */
.product span {
    display: block; /* Afficher sur une ligne différente */
    font-size: 16px; /* Taille de la police */
}

/* Styles pour le nom du produit */

.product .productName {

    font-weight: bold; /* Police en gras */
    color: #452121; /* Couleur du texte */
    text-align: left;;
    font-size: 30px;

}

/* Styles pour la note en étoile */
.product .productRating {
    color: rgb(0, 0, 0); /* Couleur de la note */
    font-size: 20px; /* Taille de la police */
    text-align: right;
    font-weight: 600;
}

/* Styles pour le prix actuel */
.product .productPrice {
    color: rgb(0, 0, 0); /* Couleur du texte */
    font-weight: bold; /* Police en gras */
    text-align: left ;
}

/* Styles pour le prix précédent */
.product .productOldPrice {
    text-decoration: line-through; /* Texte barré */
    color: rgb(0, 0, 0); /* Couleur du texte */
    text-align: left;
    opacity: 50;
    vertical-align: top;
}


/* Styles pour le bouton de suppression */
.deleteButton {
    background-color: #ff6347; /* Couleur de fond du bouton */
    color: white; /* Couleur du texte du bouton */
    border: none; /* Supprimer la bordure */
    border-radius: 5px; /* Coins arrondis */
    padding: 8px 16px; /* Espacement interne */
    cursor: pointer; /* Curseur de souris */
    transition: background-color 0.3s; /* Transition en cas de survol */
}

.deleteButton:hover {
    background-color: #cc4c39; /* Couleur de fond du bouton au survol */
}

/* Styles pour le conteneur de formulaire */
#popup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styles pour les champs de saisie */
input[type="text"],
input[type="number"],
#imageFile {
  width: 100%; /* Largeur de 100% */
  padding: 10px; /* Espacement interne */
  margin-bottom: 10px; /* Marge en bas */
  border: 1px solid #ccc; /* Bordure */
  border-radius: 20px; /* Coins arrondis */
  box-sizing: border-box; /* Inclure la bordure et le rembourrage dans la largeur/hauteur */
  font-size: 16px; /* Taille de la police */
}

/* Styles pour le bouton d'ajout */
#ajouterProduitButton {
  background-color: #007bff; /* Couleur de fond */
  color: white; /* Couleur du texte */
  border: none; /* Supprimer la bordure */
  border-radius: 20px; /* Coins arrondis */
  padding: 10px 20px; /* Espacement interne */
  cursor: pointer; /* Curseur de la souris */
  font-size: 16px; /* Taille de la police */
  transition: background-color 0.3s; /* Transition en cas de survol */
  font-family: 'Arial Rounded MT Bold', sans-serif; /* Police de caractères arrondie */
}

#ajouterProduitButton:hover {
  background-color: #0056b3; /* Couleur de fond au survol */
}

/* Styles pour les étiquettes des champs de saisie */
#popup label {
    font-family: 'Arial Rounded MT Bold', sans-serif; /* Police de caractères arrondie */
    font-size: 18px; /* Taille de la police */
}

/* Styles pour le bouton "+" */
#addButton {
    background-color: green; /* Couleur de fond verte */
    color: white; /* Couleur du texte */
    border: none; /* Supprimer la bordure */
    border-radius: 50%; /* Bord arrondi pour un aspect de bouton */
    width: 50px; /* Largeur du bouton */
    height: 50px; /* Hauteur du bouton */
    font-size: 24px; /* Taille de la police */
    position: fixed; /* Position fixe par rapport à la fenêtre */
    bottom: 20px; /* Distance du bas */
    right: 20px; /* Distance de la droite */
    cursor: pointer; /* Curseur de la souris */
    transition: background-color 0.3s; /* Transition en cas de survol */
}

#addButton:hover {
    background-color: darkgreen; /* Couleur de fond au survol */
}
